.firma {
    margin-top: 150px !important;
}

.title {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.subtitle {
    margin-top: 50px !important;
    margin-bottom: 10px !important;
}