<div id="print-section">
    <div class="d-none d-print-block">
        <div class="container">
            
            <div class="row title">
              <div class="col-sm">
                <h4 class="text-center"><u>ANEXO A LA ADHESION AL ACUERDO BASICO COMUN DE VOLUNTARIADO</u></h4>
              </div>
            </div>
            
            <div class="row subtitle">
                <div class="col-sm">
                  <h5>DATOS DE LA FUNDACION</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">Nombre: <strong>FUNDACION EFFETÁ</strong></div>
            </div>
            <div class="row">
                <div class="col-sm">Dirección: <strong>San Juan Nº 650</strong></div>
            </div>
            <div class="row">
                <div class="col-sm">Tel: <strong>424055</strong></div>
            </div>
            <div class="row">
                <div class="col-sm">Website: <strong>www.effeta.org.ar</strong></div>
            </div>
            <div class="row">
                <div class="col-sm">E-mail: <strong>effeta@effeta.org.ar</strong></div>
            </div>
            
            <div class="row subtitle">
                <div class="col-sm">
                  <h5>DATOS DEL VOLUNTARIO</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">Nombre y Apellido: <strong>{{voluntario?.nombre}}</strong></div>
                <div class="col-sm">Sexo: <strong>{{voluntario?.sexo}}</strong></div>
                <div class="col-sm">DNI: <strong>{{voluntario?.dni}}</strong></div>
            </div>
            <div class="row">
                <div class="col-sm">Estado Civil: <strong>{{voluntario?.estadoCivil}}</strong></div>
                <div class="col-sm">Nacionalidad: <strong>{{voluntario?.nacionalidad}}</strong></div>
                <div class="col-sm">Domicilio: <strong>{{voluntario?.domicilio}}</strong></div>
            </div>
            <div class="row">
                <div class="col-sm">Fecha de Nacimiento: <strong>{{voluntario?.fechaNacimiento}}</strong></div>
                <div class="col-sm">Email: <strong>{{voluntario?.email}}</strong></div>
                <div class="col-sm">Celular: <strong>{{voluntario?.celular}}</strong></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Situación Ocupacional: <strong>{{voluntario?.situacionOcupacional}}</strong></div>
                <div class="col-sm-4">Nivel de Instrucción: <strong>{{voluntario?.estudios}}</strong></div>
            </div>
            <div class="row">
                <div class="col-sm">Experiencia previa en trabajo voluntario: <strong>{{voluntario?.experiencia}}</strong></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Área de trabajo del Voluntario: <strong>{{voluntario?.areaTrabajo?.descripcion}}</strong></div>
                <div class="col-sm-4">Tarea específica a desarrollar: <strong></strong></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Días: <strong></strong></div>
                <div class="col-sm-4">Horario: <strong>{{voluntario?.desde}} - {{voluntario?.hasta}}</strong></div>
            </div>

            <div class="row text-center firma">
                <div class="col-sm">----------------------</div>
                <div class="col-sm">----------------------</div>
            </div>
            <div class="row text-center">
                <div class="col-sm">Firma del Voluntario</div>
                <div class="col-sm">Firma de la Entidad</div>
            </div>

        </div>
    </div>
</div>

<button [useExistingCss]="true" printSectionId="print-section" ngxPrint type="button" class="btn btn-outline-secondary col-6">
    <fa-icon [icon]="['fas', 'print']"></fa-icon> Imprimir Anexo
</button>