<div class="row mt-3 mb-3">
    <div class="col-sm text-uppercase text-muted lead">
        Actualizar Convenio
    </div>
</div>

<div class="jumbotron text-secondary mt-3">
    <p>Seleccione un archivo .pdf para actualizar el convenio por defecto.</p>
    <form [formGroup]="form" (validSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" formControlName="convenio" (change)="onFileChange($event)" >
                    <label class="custom-file-label" #labelImport for="customFile">Archivo de Convenio</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col text-center">
                <button class="btn btn-warning col-3" type="submit"><fa-icon [icon]="['fas', 'save']"></fa-icon> Guardar</button>
            </div>
        </div>
    </form>
</div>