<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Debe ingresar su usuario</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Contrase&ntilde;a</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Debe ingresar su contrase&ntilde;a</div>
                    </div>
                </div>
                <div class="text-center">
                    <button [disabled]="loading" class="btn btn-warning col-6">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Ingresar
                    </button>
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col text-center font-weight-bold">
      Queres ser parte de la fundaci&oacute;n?
    </div>
</div>
<div class="row mt-1">
    <div class="col text-center">
      Complet&aacute; el formulario de pre-inscripci&oacute;n y un administrador se comunicar&aacute; con vos!
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        <button class="btn btn-outline-success" routerLink="/pre-inscripcion">Formulario de Pre-Inscripci&oacute;n</button>
    </div>
</div>