<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" *ngIf="currentUser">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Gesti&oacute;n de Voluntarios</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/voluntario">Alta de voluntario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/convenio">Actualizar Convenio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- main app container -->
<div class="container-fluid">
<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>
</div>