<div class="row mt-3 mb-3">
    <div class="col-sm text-uppercase text-muted lead">
        Voluntario
    </div>
</div>

<div *ngIf="idVoluntario">
    
    <div class="row mt-3 mb-3">
        <div class="col-sm text-uppercase text-muted font-weight-light">
            Convenio voluntario
        </div>
    </div>

    <div class="jumbotron text-secondary mt-3">
        <p>Seleccione un archivo para actualizar el convenio</p>
        <form [formGroup]="formConvenio" (validSubmit)="uploadConvenio()">
            <div class="form-row">
                <div class="form-group col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" formControlName="convenio" (change)="onFileChangeConvenio($event)" >
                        <label class="custom-file-label" #labelImportConvenio for="customFile">Archivo Convenio</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col text-center">
                    <button class="btn btn-outline-warning col-3" type="submit"><fa-icon [icon]="['fas', 'file-export']"></fa-icon>Adjuntar</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col text-center">
                    <button class="btn btn-outline-secondary col-6" type="button" (click)="sendMailConvenio(v.id)"><fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> Enviar por mail</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-sm text-uppercase text-muted font-weight-light">
            Anexo voluntario
        </div>
    </div>

    <div class="jumbotron text-secondary mt-3">
        <p>Seleccione un archivo para actualizar el anexo</p>
        <form [formGroup]="formAnexo" (validSubmit)="uploadAnexo()">
            <div class="form-row">
                <div class="form-group col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileAnexo" formControlName="anexo" (change)="onFileChangeAnexo($event)" >
                        <label class="custom-file-label" #labelImportAnexo for="customFileAnexo">Archivo Anexo</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col text-center">
                    <button class="btn btn-outline-warning col-3" type="submit"><fa-icon [icon]="['fas', 'file-export']"></fa-icon> Adjuntar</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col text-center">
                    <app-print-voluntario [voluntario]="v"></app-print-voluntario>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <form (ngSubmit)="onSubmit()" #form="ngForm"> -->

    <form [formGroup]="voluntarioForm" (validSubmit)="onSubmit()" >

    <div class="row mt-3 mb-3">
        <div class="col-sm text-uppercase text-muted font-weight-light">
            Datos personales del voluntario
        </div>
    </div>

    <div class="jumbotron text-secondary">
            
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="nombre">Nombre y Apellido</label>
                    <input formControlName="nombre" type="text" class="form-control" [(ngModel)]="v.nombre">
                </div>
                <div class="form-group col">
                    <label for="dni">Numero Documento</label>
                    <input formControlName="dni" type="text" class="form-control" [(ngModel)]="v.dni">
                </div>
                <div class="form-group col">
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="dd/mm/yyyy" formControlName="fechaNacimiento" [(ngModel)]="fechaNacVar" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><fa-icon [icon]="['fas', 'calendar']"></fa-icon></button>
                        </div>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="sexo">Sexo</label>
                    <select formControlName="sexo" class="custom-select" [(ngModel)]="v.sexo">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label for="estadoCivil">Estado Civil</label>
                    <select formControlName="estadoCivil" class="custom-select" [(ngModel)]="v.estadoCivil">
                        <option value="Soltero">Soltero</option>
                        <option value="Casado">Casado</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="nacionalidad">Nacionalidad</label>
                    <select formControlName="nacionalidad" class="custom-select" [(ngModel)]="v.nacionalidad">
                        <option value="Argentina">Argentina</option>
                        <option value="Otra">Otra</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="domicilio">Domicilio</label>
                    <input formControlName="domicilio" type="text" class="form-control" [(ngModel)]="v.domicilio">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label for="email">Email</label>
                    <input formControlName="email" type="text" class="form-control" [(ngModel)]="v.email">
                </div>
                <div class="form-group col">
                    <label for="celular">Nro. Celular</label>
                    <input formControlName="celular" type="text" class="form-control" [(ngModel)]="v.celular">
                </div>
            </div>
        
    </div>

    <div class="row mt-5 mb-3">
        <div class="col-sm text-uppercase text-muted font-weight-light">
            Experiencia previa
        </div>
    </div>

    <div class="jumbotron text-secondary">

            <div class="form-row">
                <div class="form-group col">
                    <label for="situacionOcupacional">Situacion Ocupacional</label>
                    <select formControlName="situacionOcupacional" class="custom-select" [(ngModel)]="v.situacionOcupacional">
                        <option value="Tiempo Completo">Tiempo Completo</option>
                        <option value="Medio Tiempo">Medio Tiempo</option>
                        <option value="Desocupado">Desocupado</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="estudios">Estudios</label>
                    <select formControlName="estudios" class="custom-select" [(ngModel)]="v.estudios">
                        <option value="Primario">Primario</option>
                        <option value="Secundario">Secundario</option>
                        <option value="Universitario">Universitario</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label for="experiencia">Experiencias en ONG</label>
                    <textarea class="form-control" formControlName="experiencia" rows="3" [(ngModel)]="v.experiencia"></textarea>
                </div>
            </div>
        
    </div>

    <div class="row mt-5 mb-3">
        <div class="col-sm text-uppercase text-muted font-weight-light">
            Funci&oacute;n dentro de la Fundaci&oacute;n
        </div>
    </div>

    <div class="jumbotron text-secondary">

            <div class="form-row">
                <div class="form-group col">
                    <label for="areaTrabajo">Area de Trabajo</label>
                    <select formControlName="areaTrabajo" class="custom-select" [(ngModel)]="v.areaTrabajo" [compareWith]="compareItems">
                        <option *ngFor="let areaTrabajo of areaTrabajoList" [ngValue]="areaTrabajo">
                            {{ areaTrabajo.descripcion }}
                        </option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="lugarTrabajo">Lugar de Trabajo</label>
                    <select formControlName="lugarTrabajo" class="custom-select" [(ngModel)]="v.lugarTrabajo" [compareWith]="compareItems">
                        <option *ngFor="let lugarTrabajo of lugarTrabajoList" [ngValue]="lugarTrabajo">
                            {{ lugarTrabajo.descripcion }}
                        </option>
                    </select>
                </div>
            </div>

            <p class="mt-2">Dias disponibles</p>
            
            <div class="form-row">
                <div class="form-group col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="lunes" [(ngModel)]="v.diasDisponibles.lunes">
                        <label class="form-check-label" for="lunes">Lunes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="martes" [(ngModel)]="v.diasDisponibles.martes">
                        <label class="form-check-label" for="martes">Martes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="miercoles" [(ngModel)]="v.diasDisponibles.miercoles">
                        <label class="form-check-label" for="miercoles">Miercoles</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="jueves" [(ngModel)]="v.diasDisponibles.jueves">
                        <label class="form-check-label" for="jueves">Jueves</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="viernes" [(ngModel)]="v.diasDisponibles.viernes">
                        <label class="form-check-label" for="viernes">Viernes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="sabado" [(ngModel)]="v.diasDisponibles.sabado">
                        <label class="form-check-label" for="sabado">Sabado</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="domingo" [(ngModel)]="v.diasDisponibles.domingo">
                        <label class="form-check-label" for="domingo">Domingo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="feriado" [(ngModel)]="v.diasDisponibles.feriados">
                        <label class="form-check-label" for="feriado">Feriados</label>
                    </div>
                </div>
            </div>

            <p class="mt-2">Horario disponible</p>
            <div class="form-row">
                <div class="form-group col-1">
                    <label for="desde">Desde</label>
                    <input formControlName="desde" type="number" class="form-control" [(ngModel)]="v.desde">
                </div>
                <div class="form-group col-1">
                    <label for="hasta">Hasta</label>
                    <input formControlName="hasta" type="number" class="form-control" [(ngModel)]="v.hasta">
                </div>
            </div>
    </div>
    <div class="form-row">
        <div class="form-group col text-center">
            <button type="submit" class="btn btn-warning col-3">
                <fa-icon [icon]="['fas', 'save']"></fa-icon> Guardar
            </button>
        </div>
    </div>

</form>

<!-- {{v | json}} -->