<div class="row mt-3 mb-3">
    <div class="col-sm text-uppercase text-muted lead">
        Formulario de Pre Inscripcion
    </div>
</div>

<div class="jumbotron text-secondary mt-3">
    <br/>
    <form [formGroup]="form" (validSubmit)="onSubmit()">
        <div class="form-row justify-content-center">
            <div class="form-group col-6 text-center">
                <label for="nombre">Nombre y Apellido</label>
                <input formControlName="nombre" type="text" class="form-control" [(ngModel)]="v.nombre">
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-6 text-center">
                <label for="email">Email</label>
                <input formControlName="email" type="text" class="form-control" [(ngModel)]="v.email">
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-6 text-center">
                <label for="celular">Celular</label>
                <input formControlName="celular" type="text" class="form-control" [(ngModel)]="v.celular">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col text-center">
                <button class="btn btn-warning col-4" type="submit">
                    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> Enviar
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-secondary col-3" routerLink="/login">Volver</button>
        </div>
    </div>
</div>