<div class="row mt-3 mb-3">
    <div class="col-sm text-uppercase text-muted lead">
        Bienvenido {{user?.nombre}} {{user?.apellido}}!
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col">
            <form [formGroup]="busquedaForm" (validSubmit)="onSubmit()" >
                <div class="form-row">
                    <div class="form-group mb-2 col-md-8">
                        <label for="nombre" class="sr-only">Nombre del voluntario</label>
                        <input type="text" class="form-control" formControlName="nombre" placeholder="ingrese el nombre del voluntario">
                    </div>
                    <div class="form-group mb-2 col-md-4">
                        <button type="submit" class="btn btn-secondary col-12">
                            <fa-icon [icon]="['fas', 'search']"></fa-icon> Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4">
            <button type="button" class="btn btn-warning btn-block" (click)="getIncompletos()">
                Voluntarios incompletos <span class="badge badge-light">{{countIncompletos}}</span>
            </button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-warning btn-block" (click)="getAll()">
                Ver todos los voluntarios
            </button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-warning btn-block" (click)="descargarConvenio()">
                <fa-icon [icon]="['fas', 'print']"></fa-icon> Convenio
            </button>
        </div>
    </div>
</div>

<div *ngIf="voluntarios?.length > 0" class="card">
    <div class="card-header text-secondary bg-light font-weight-light">
        Voluntarios
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless text-secondary">
                <thead class="text-muted">
                <tr>
                    <td scope="col">Nombre y apellido</td>
                    <td scope="col">Dni</td>
                    <td scope="col">Area de trabajo</td>
                    <td scope="col">Estado</td>
                    <td scope="col">Acciones</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let v of voluntarios">
                    <td>{{v.nombre}}</td>
                    <td>{{v.dni}}</td>
                    <td>{{v.areaTrabajo.descripcion}}</td>
                    <td>
                        <span class="badge badge-warning" *ngIf="v.fechaModificacionConvenio == null" >Falta Convenio</span>
                        <span class="badge badge-warning" *ngIf="v.fechaModificacionConvenio !== null && v.fechaModificacionAnexo == null && !v.vencido" >Falta Anexo</span>
                        <span class="badge badge-secondary" *ngIf="v.fechaModificacionConvenio !== null && v.fechaModificacionAnexo !== null && !v.vencido">Completo</span>
                        <span class="badge badge-danger" *ngIf="v.vencido">Vencido</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-light btn-sm mr-1" (click)="downloadConvenio(v.id)" *ngIf="v.fechaModificacionConvenio !== null"><fa-icon [icon]="['fas', 'file-download']"></fa-icon> Convenio</button>
                        <button type="button" class="btn btn-light btn-sm mr-1" (click)="downloadAnexo(v.id)" *ngIf="v.fechaModificacionAnexo !== null"><fa-icon [icon]="['fas', 'file-download']"></fa-icon> Anexo</button>
                        <button type="button" class="btn btn-success btn-sm mr-1" (click)="edit(v.id)"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="delete(v.id)"><fa-icon [icon]="['fas', 'trash-alt']"></fa-icon></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="voluntarios?.length == 0" class="jumbotron bg-light">
    <p class="lead text-center" >No se encontraron voluntarios para mostrar</p>
</div>

